<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Тест по теме: {{ theme }}</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <section class="test-container">
        <h1>Тест по теме "{{ theme }}"</h1>
        <form method="POST">
            {% for word in words %}
                <div class="question-block">
                    <h3><span>{{ word.word }}</span></h3>
                    <ul>
                        {% for option in word.options %}
                            <li>
                                <label>
                                    <input type="radio" name="{{ word.word }}" value="{{ option }}">
                                    {{ option }}
                                </label>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
            <button type="submit">Пройти тест</button>
        </form>
    </section>
    <footer>
        <p>&copy; 2024 Изучение языков. Все права защищены.</p>
    </footer>
</body>
</html>
